<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>exact_url</key>
		<string>reader://share/home</string>
		<key>object</key>
		<string>#XDSDemoViewController</string>
	</dict>
</array>
</plist>
